/* element1, element2 : selects element1 and element2 */
/* element1 element2 : selects all descendants (children, grandchildren...) which are element2 => descendant combinator */
/* element1>element2 : select (only) children which are element2 => child combinator */

/* padding : the space between the content and the border */
/* padding : padding-top padding-right padding-bottom padding-left */
/* margin : the space around the border (document side)*/
/* margin : margin-top margin-right margin-bottom margin-left */

/* CSS font-property : we add Times and serif to the font-property to have generic fonts (used if the navigator don't understand the others) */


html {

	height: 100%;

	margin: 0 !important;

	padding: 0 !important;

}

body {

	background-color: white;

	height: 100%;

	margin: 0 !important; /* no unit when it's 0 */

	padding: 0 !important;

}

#map {

	bottom:0;

	left: 0;

	margin: 0 !important;

	padding:0 !important;

	position:absolute;

	right: 0;

	top:0;

	width:100%;

	/* z-index: -1;  /* the map in "underground" */ /* DON'T USE IT ! */

}

/*******************************************************************/
/* navbar */

#navMenu {

	background: none !important;

	margin: 0;

	position: absolute; /* we use absolute position in order to fix the navbar in the top-left corner */

	z-index: 100;

}

#togglerButton {

	background-color: white;

	height: 50px;

	color: black;

}

/* for the navbar's buttons */

nav button {

	margin-bottom: 0;

	margin-top: 10px;

}

#dropdownMenu {

	background-color: rgba(0, 0, 0, 0.9);

	border-radius: 10px;

	color: white;

	margin: 0 0 0 0; /* 10 0 0 0 */

	padding-bottom: 20px;

	width: 395px;

}

/* to remove highlight when hover a link */

#dropdownMenu > a:hover {

	background-color: rgba(0, 0, 0, 0); /* r g b opacity */

	border-radius: 50px !important;

}

.dropdown-toggle::after {

	display: none !important; /* remove the arrow */

}

.smallLink {

	display: inline-block;

	height: 30px;

}


/*******************************************************************/
/* filters */

/* restaurant / bar / bar-restaurant */

button {

	opacity: 1 !important;

}

.btnType {

	margin-left: 0;

	margin-right: 8px;

	padding: 0;

	width: 110px;

}


/* prices */

.btnPrice {

	margin-left: 0;

	margin-right: 10px;

	padding: 0;

	width: 70px;

}

/* rating */

.btnStar {

	margin-left: 0;

	margin-right: 10px;

	padding: 0;

	width: 50px;

}

/* margin for slider's text */

#aroundMe {

	margin-right: 21px;

}

#openedNow {

	margin-right: 10px;

}

/* opened now and around me switches */

.switch {

	display: inline-block;

	height: 22px;

	position: relative;

	width: 40px;

}

.switch input {

	display:inline-block;

}

.slider {

	background-color: #ccc;

	border-radius: 20%; /* rounded corners */

	cursor: pointer;

	bottom: 0;

	left: 0;

	position: absolute;

	right: 0;

	top: 0;

	transition: .4s;

}

.slider:before {

	background-color: white;

	border-radius: 20%; /* rounded corners */

	bottom: 3px;

	content: "";

	height: 16px;

	left: 3px;

	position: absolute;

	transition: .4s;

	width: 16px;

}

input:checked + .slider {

	background-color: rgb(40, 167, 69); /* green */

}

input:checked + .slider:before {

	transform: translateX(16px); /* move the button in the slider */

}

/* buttons "go" and "trash" */

#go , #resetFilters {

	display: inline-block; /* to align them side-by-side */

	height: 30px;

	padding: 0 15px 0 15px;

	margin-right: 20px;

}


/*******************************************************************/
/* youAreHere popup */

#youAreHere {

	color: #FDF5E6; /* Oldlace */

	font-size: 18px;

	text-align: center;

}


/*******************************************************************/
/* popup */

/* Using id instead of class, classes don't work */

#popupTitle, #popupType {

	color: rgba(253, 245, 230, 1); /* OldLace */

	font-family: "Open Sans", Times, serif;

	margin: 0;

	opacity: 1 !important;

	padding-top: 10px !important;

	text-align: center !important;

}

#popupTitle {

	font-size: 26px;

	font-variant: small-caps;

	text-align: center !important;

}

#popupType {

	font-size: 23px;

	font-style: oblique;

}

#popupRating {

	margin: 0;

	text-align: center;

	padding-top: 10px !important;

}

#popupAddress, #popupOpen, #popupRating, #popupWebsite, #popupPhone, #popupWeekday {

	font-family: "Open Sans", Times, serif;

	font-size: 19px;

	margin: 0;

	opacity: 1 !important;

}

.day {

	font-family: "Open Sans", Times, serif;

	font-size: 19px;

	opacity: 1 !important;

}


/* fonts awesome */
.fa-street-view, .fa-at, .fa-phone, .fa-clock-o {

	padding-right: 10px !important;

}


/* popup design */
.mapboxgl-popup-content {

	background-color: rgba(0, 0, 0, 0.9) !important;

	color: #FFFFFF;

	font-size: 5px !important;

	margin: 0;

	padding: 0;

}

/* the anchor */

/* getting all the anchors and the tips of popup */
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {

	border-bottom-color: #000000 !important;

	opacity: 0.9;

}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {

	border-top-color: #000000 !important;

	opacity: 0.9;

}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {

	border-right-color: #000000 !important;

	opacity: 0.9;

}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {

	border-left-color: #000000 !important;

	opacity: 0.9;

}

/*~
/* geocoder *

.mapboxgl-ctrl-geocoder {

	margin-right: 20px !important;

	margin-top: 20px !important;

}

.mapboxgl-ctrl-geocoder input[type='text'], .mapboxgl-ctrl-geocoder, .mapboxgl-ctrl {

	background-color: rgba(255, 255, 255, 0.7) !important;

}*/

/* Geocontroler */
.mapboxgl-ctrl-group > button{

	top: 10px !important;

}


/*******************************************************************/

/* search */

#search {

	/*position: relative;*/

	/*left: 820px; /* add 100px to the left border */

	z-index: 100; /* to display search bar "on" the map */

	top: 10px !important;

}


/*******************************************************************/
/* layout */

.inlineBlock {

	display: inline-block;

}

.alignLeft {

	margin: 0;

	padding: 0;

}

a {

	color: cornflowerblue;

	text-decoration: underline;

}