html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: white;
}


/*******************************************************************/
/* navbar */

#navMenu {
	z-index: 100;
	position: absolute; /* we use absolute position in order to fix the navbar in the top-left corner */
	margin: 0px 0px 0px 0px;
	background: none !important; /* !important to override Bootstrap's styles */
}

/* for the navbar's buttons */
/* element1 element2 : Selects all element2 inside element1 */
nav button {
	/* padding : the space between the content and the border */
	/* margin : the space around the border (document side)*/
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-right: 10px;
}

#togglerButton {
	background-color: white;
}

/* CSS for filters */

.btnPrice {
	width: 70px;
}

.disableSelction {
	user-select: none;
}

.inlineBlock {
	display: inline-block;
}

/* /!\ doesn't work /!\ */
.checkbox {
	border-radius: 50%;
	cursor: pointer;
}

#openCheckbox {
	animation: animationCheckbox 5s infinite;
	background-color: black;
}

.dropdown-menu {
	margin-top :20px;
	margin-left: 10px;
	padding-top: 2px;
	width: 330px;
}

#go {
	text-align: center;
}

@keyframes animationCheckbox {
  0% {background-color:red !important;}
  100% {background-color:green !important;}
}

/*******************************************************************/
/* slider */

/* we use inline-block for the slider ans its value to align them */
.sliderPrice {
	display: inline-block;
	-webkit-appearance: none;
    height: 10px;
    border-radius: 5px;   
    background: #d3d3d3; /* light grey */
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.sliderPrice::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.sliderPrice::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#valSlider {
	display: inline-block;
}